
/* ----------------------------------------Footer section-------------------------------------------- */
.footer{
  background-color: #050620;
  color: #ffffff;
  padding: 60px 0 20px;
  font-family: 'Vesper Libre', sans-serif;
  height: 456px;
}

.footer-wrapper{
  max-width: 1200px;
 margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 60px 0px 60px;
}

/* COLUMN */
.footer-col img{
  background-color: #EDF8F7;
  height: 90px;
  width: 90px;
  object-fit: fit;
  border-radius: 50%;
  margin: 10px;
 
}
.footer-col p{
  padding:10px;
  margin-left: 10px;
  color: #ffffff;
  font-size: 16px;
}

/* ------------------------footer-contact------------------------- */
.footer-contacts{
  padding-bottom: 30px;
   /* margin:30px; */
   /* display: flex; */
}
.footer-contacts h2{
  padding: 8px;
}

.footer-contact{
  margin-top: 2px;
  
}

/* ---------------------------------footer-times----------------------------------- */
.footer-times h2{
  padding: 8px;
  /* margin-right: 50px; */
}
.footer-time{
  margin-top: 4px;
}
/* ----------------------------------footer action---------------------------- */
.footer-action h2{
  padding: 10px;
  /* margin: px; */
}
.footer-btn{
  background-color: #12b997;
  height: 50px;
  width: 300px;
  border-radius: 5px;
  border: none;
  /* margin-left:50px ; */
  
  box-shadow: 8px 8px 20px rgba(182, 180, 180, 0.25);
}


.footer-wrapper-divider{
  background-color: #ffffff;
  height: 1px;
  width: 100%;
  
}
/* --------------------------------footer bottom------------------------------- */

 .footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
   flex-wrap: wrap;   
  gap: 15px;
  height: 200px;
}

/* LEFT LINKS */
.footer-links{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-links a{
  color: #ffffff;
  text-decoration: none;
  position: relative;
  font-size: 15px;
}

/* Pipe separator */
.footer-links a:not(:last-child)::after{
  content: "|";
  margin-left: 20px;
  opacity: 0.6;
}

/* RIGHT COPYRIGHT */
.footer-copy{
  font-size: 15px;
  color: #ffffff;
} 




